.page-bg-body {
  background-color: black;
  min-height: 100vh;
  /* 뷰포트 높이의 100% */
  width: 100%;
  /* 너비를 100%로 설정 */
  margin: 0;
  /* 마진 제거 */
  padding: 0;
  /* 패딩 제거 */
  color: white;
  /* 글자색을 흰색으로 설정 */
}

.spacer-row {
  margin-top: 30px;
  /* 상단 여백 */
  margin-bottom: 30px;
  /* 하단 여백 */
  height: 0px;
  /* 요소의 높이를 0으로 설정 */
}

.genre-badge {
  padding: 0.5rem 1rem;
  /* 패딩 조정 */
  font-size: 1rem;
  /* 폰트 사이즈 조정 */
  white-space: nowrap;
  /* 글자가 잘리지 않도록 설정 */
  overflow: hidden;
  /* 내용이 넘칠 경우 숨김 */
  text-overflow: ellipsis;
  /* 내용이 넘칠 경우 말줄임표 표시 */
}

.genre-badge:hover {
  transform: translateY(-2px);
  /* Slight lift effect on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Soft shadow for depth */
  cursor: pointer;
  /* Changes cursor to a pointer on hover */
}

/* Make the dropdown full width */
#dropdown-basic {
  width: 100%;
}

/* Pagination styles to move it down and change the color */
.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  /* Center the pagination */
  padding: 0;
  gap: 8px;
  /* Space between buttons */
  margin-top: 20px;
  /* Move the pagination down */
  color: #fff;
  /* Font color to white */
}

.page-link {
  color: #fff;
  /* Set the font color to white */
  background-color: #000;
  /* Set the background color to black */
  border: 1px solid #000;
  /* Set the border color to black */
  /* The rest of your existing .page-link styles */
}

.page-item.active .page-link {
  background-color: #007bff;
  /* Active item background color */
  color: #fff;
  /* Active item text color */
  border-color: #007bff;
  /* Active item border color */
}

/* Add this if you want to change the hover effect as well */
.page-link:hover {
  background-color: #333;
  /* Darker background on hover */
  border-color: #333;
  /* Darker border on hover */
}

/* Ensure the page numbers don't get too cramped on smaller screens */
@media (max-width: 768px) {
  .page-link {
    padding: 0.5rem;
    /* Adjust padding for smaller screens */
  }
}