.page-bg-body {
  background-color: black;
  min-height: 100vh;
  /* 뷰포트 높이의 100% */
  width: 100%;
  /* 너비를 100%로 설정 */
  margin: 0;
  /* 마진 제거 */
  padding: 0;
  /* 패딩 제거 */
  color: white;
  /* 글자색을 흰색으로 설정 */
}

.spacer-row {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 0px;
}

.genre-badge {
  font-size: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: white;
  /* Sets badge background to white */
  color: black;
}

.genre-badge:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  /* Ensures background color changes to yellow on hover */
}

/* Make the dropdown full width */
#dropdown-basic {
  width: 100%;
}

/* Pagination styles to move it down and change the color */
.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  /* Center the pagination */
  padding: 0;
  gap: 8px;
  /* Space between buttons */
  margin-top: 20px;
  /* Move the pagination down */
  color: #fff;
  /* Font color to white */
}

.page-link {
  color: #fff;
  /* Set the font color to white */
  background-color: #000;
  /* Set the background color to black */
  border: 1px solid #000;
  /* Set the border color to black */
  /* The rest of your existing .page-link styles */
}

.page-item.active .page-link {
  background-color: #007bff;
  /* Active item background color */
  color: #fff;
  /* Active item text color */
  border-color: #007bff;
  /* Active item border color */
}

/* Add this if you want to change the hover effect as well */
.page-link:hover {
  background-color: #333;
  /* Darker background on hover */
  border-color: #333;
  /* Darker border on hover */
}

/* Ensure the page numbers don't get too cramped on smaller screens */
@media (max-width: 768px) {
  .page-link {
    padding: 0.5rem;
    /* Adjust padding for smaller screens */
  }
}